apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-rollout-rollback
spec:
  replicas: 1
  selector:
     matchLabels:
       app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      imagePullSecrets:
        - name: artifact-secret
      containers:
        - name: app
          image: {{.Values.image}}
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: app-svc
spec:
  selector:
    app: app
  type: NodePort
  ports:
  - targetPort: 80
    port: 80
    protocol: "TCP"
